@import 'Src/core/common.scss';

.add-button {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background: $color-primary;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  transform: scale(0.9);

  &:hover {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.4);
    transform: scale(0.93);
  }

  div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4px;
    background: white;
    width: 28px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);

    &:first-child {
      transform: rotate(90deg) translate(-2px, 14px);
    }
  }
}
