@import 'Src/core/common.scss';

.trip-users-page {
  .header {
    padding: 20px;
    font-weight: 500;
    font-size: 2rem;
    color: $color-primary;
    margin-bottom: 5px;
    background: white;
    position: sticky;
    top: 0;
  }
  .form-container {
    height: 100%;
    width: 400px;
  }
}
